* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #5e5e5e;
}

.header__top {
    background-color: #303030;
}

.header__btn {
    float: right;
    line-height: 36px;
    font-size: 16px;
    color: #1b1b1b;
    background-color: #ffc222;
    padding: 5px 20px 4px 50px;
    position: relative;
}

.header__btn:before {
    content: "\f0b1";
    font-family: 'icomoon';
    position: absolute;
    left: 22px;
    color: #1b1b1b;
}

header {
    font-family: 'Roboto', sans-serif;
}

.header__contacts:after {
    content: "";
    clear: both;
    display: block;
}

.header__phone,
.header__email {
    color: #cbcacb;
    letter-spacing: 0.25px;
    line-height: 45px;
    position: relative;
}

.header__phone {
    padding-left: 20px;
    padding-right: 30px;
}

.header__phone:before {
    content: "\f095";
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    color: #ffcd21;
}

.header__email {
    padding-left: 24px;
}

.header__email::before {
    content: "\f003";
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    color: #ffcd21;
}

.header__content {
    padding: 34px 0px 23px;
}

.header__content-inner {
    display: flex;
    justify-content: space-between;
}

.menu li {
    display: inline-block;
}

.menu a {
    color: #323232;
    line-height: 36px;
    font-size: 16px;
    border: 1px solid transparent;
    padding: 0px 16px;
    transition: all .3s;
}

.menu a:hover {
    border-color: #ffc222;
}

.menu li+li {
    padding-left: 10px;
}

#modal {
    display: none;
}

.slider {
    background-image: url(../img/slider-fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
}

.slider__item-content {
    text-align: center;
    padding-top: 110px;
    max-width: 665px;
    margin: 0 auto;
}

.slider__title {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1.5px;
    margin-bottom: 22px;
    font-family: 'Roboto', sans-serif;
}

.slider__text {
    line-height: 24px;
    font-size: 18px;
    color: #d3d2d2;
    margin-bottom: 50px;
}

.default-btn {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 8px 30px 8px 24px;
    border: 1px solid #ffc222;
    border-right-width: 20px;
    position: relative;
    z-index: 2;
    outline: none;
}

.default-btn::after {
    font-family: 'icomoon';
    position: absolute;
    content: "\f105";
    top: 50%;
    transform: translateY(-50%);
    right: -12px;
}

.slider__inner {
    position: relative;
}

.slick-btn {
    position: absolute;
    top: 70%;
    z-index: 3;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    cursor: pointer;
    outline: none;
    background-color: #ffc222;
}

.slick-btn.slick-disabled {
    cursor: default;
    background-color: transparent;
}

.slick-btn::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'icomoon';
    color: #e2e3e4;
}

.slick-next::before {
    content: "\f105";
}

.slick-prev::before {
    content: "\f104";
}

.slick-next {
    right: 0;
}

.slick-prev {
    left: 0;
}